@*contractor/index*@
@model Parkeezzi.ViewModels.ContractorView
@{
    ViewData["Title"] = "Contractor Details";
}

<div class="container">
    <div class="row">
        <h2>Invoices</h2>
    </div>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            @foreach (var invoice in Model.ContractorInvoices)
            {
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">content_copy</i>
                        @invoice.ContractorInvoiceRef
                    </div>
                    <div class="collapsible-body"><span>This is a list of invoice items</span></div>
                </li>
            }
        </ul>
    </div>
</div>

